In [1]:
# File A: df_final_experiment_clients.txt. Columns: client_id,Variation
# File B: df_final_web_data_pt_1.          Columns: client_id,visitor_id,visit_id,process_step,date_time
# File C: df_final_web_data_pt_2.          Columns: client_id,visitor_id,visit_id,process_step,date_tim
# File D: df_final_demo                    Columns: client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth

In [ ]:
# Logic of the merging:
# DONE 1. Merge B and C because they have the same column names and their values look similar. Use CONCAT because the client_id doesn't have to be the same values.
# I only need the data from the client_ids that participated in the experiment. So, out of the client profile in df_final_demo, I only need the client_ids that exist also in df_final_experiment_clients.txt.
# In order to do so, perform a left join, where left is df_final_experiment_clients.txt (all of its client_id rows will be kept) and right is df_final_demo.

In [3]:
import pandas as pd

df_final_web_data_pt_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt')

In [ ]:
df_final_web_data_pt_1

In [4]:
df_final_web_data_pt_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt')

In [ ]:
df_final_web_data_pt_2

In [6]:
df_merged_final_web_data = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], axis=0)

In [ ]:
df_merged_final_web_data

In [ ]:
# They have been merged successfully, number of rows is the sum of both: 755405.

In [17]:
df_final_experiment_clients = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt')

In [19]:
df_final_experiment_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [21]:
df_final_demo = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt')

In [ ]:
df_final_demo

In [ ]:
merged_left_final_experiment_and_final_demo = pd.merge(df_final_experiment_clients, df_final_demo, on='client_id', how='left')

In [ ]:
merged_left_final_experiment_and_final_demo

In [ ]:
# Check what and how many rows have NaN for the "Variation" column. This means that they didn't participate in the experiment.

In [ ]:
# Check for null values in each column
merged_left_final_experiment_and_final_demo.isna().any()

In [ ]:
# Count the number of null values in each column
merged_left_final_experiment_and_final_demo.isna().sum()

In [ ]:
# Out of 70609 rows (client_ids), 20109 have Nan for "Variation". They didn't participate in the experiment. We will drop these rows.

In [ ]:
merged_left_final_experiment_and_final_demo.dropna(subset=['Variation'], inplace=True)

In [ ]:
merged_left_final_experiment_and_final_demo = merged_left_final_experiment_and_final_demo.dropna(subset=['Variation'])

In [ ]:
merged_client_profile = merged_left_final_experiment_and_final_demo

In [ ]:
merged_client_profile.isna().sum()

In [ ]:
# Check if data types for columns are correct. There seems to be no problem here.

In [ ]:
merged_client_profile.dtypes

In [ ]:
# Find out how many unique client_ids there are.
unique_client_count_merged_left_final_experiment_and_final_demo = merged_left_final_experiment_and_final_demo["client_id"].nunique()

unique_client_count_merged_left_final_experiment_and_final_demo

In [ ]:
# In the final demo (before merging), 14 client_id rows do not have any value for tenure, neither in years nor in months (values in both columns are blank, NaN).

In [ ]:
# Drop these 14 rows. And drop also the client_id 4666211, because this person has their data filled from the profile, except for their age.
# NOT DONE

In [ ]:
merged_client_profile = merged_client_profile.dropna(subset=['clnt_age'], inplace=True)

In [ ]:
merged_client_profile.isna().sum()

In [ ]:
merged_client_profile.isna().sum()

In [ ]:
# Now, there are no NaN values in any of the columns.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [ ]:
sns.barplot(x=frequency_table.index, y=frequency_table.values, hue=frequency_table.index, palette="Set3", legend=False)

In [ ]:
import matplotlib.pyplot as plt
plt.show()

In [ ]:
# I need to clean the "bal" column for the values that contain 9999999900 at the end. Do not drop rows, but substitute values.
# NOT DONE,

In [ ]:
x = txt.rstrip("9999999900")

In [ ]:
# Export to CSV merged_client_profile
merged_client_profile.to_csv("merged_client_profile.csv", index=False, encoding="utf-8")

In [ ]:
# Merge merged_client_profile with df_merged_final_web_data with an inner join.
# I did an outer join, and there were no unmatched values left or right. That means the number of unique values of client_id is the same,
# regardless of join type. So I have peformed an inner join below (and deleted the previous outher join).
# THIS IS DONE

In [ ]:
df_4_csvs_inner = pd.merge(merged_left_final_experiment_and_final_demo, df_merged_final_web_data , on='client_id', how='inner')

In [ ]:
df_4_csvs_inner

In [ ]:
df_4_csvs_inner.isna().sum()

In [ ]:
# Find out what this 114 clients without an age are. If it makes sense, drop these rows.
# NOT DONE

In [ ]:
# Find out how many unique client_ids there are.
unique_client_count = df_4_csvs_inner["client_id"].nunique()

unique_client_count

In [ ]:
# Export to CSV df_4_csvs
df_4_csvs_inner.to_csv("df_4_csvs.csv", index=False, encoding="utf-8")

In [ ]:
# Create visualization to answer the following demographic question. Who are the primary clients using this online process?
# NOT DONE

In [ ]:
# Create visualization for age. Are the primary clients younger or older, new or long-standing?
# NOT DONE

In [ ]:
# Carry out a client behaviour analysis to answer any additional relevant questions. OPTIONAL
# NOT DONE

In [ ]:
# Calculate KPI completion rate:
# 1. Group 2 groups by the values of the column "Variation": 1 percentage number of completion rate for client_id s with the value "Test" vs.
# a different percentage number of completion rate for client_id s with the value "Control".
# 2. Calculate the count of unique client_ids per group, this is how many customers are part of the test vs. how many are not.
# 3. Calculate the number of confirms per group. This is the number of unique client_id (these are the unique values of the column "client_id") 
# for whom the value "confirm" within the colum "process_step" appears at least once, regardless of how many times "confirm" appears for 1 client_id.
# I choose to consider multiple confirms for 1 client_id as 1 single confirm. 1 confirm = 1 confirmed user
# 4. Per group, divide number of confirms by the number of client_id s. Then multiply by 100. This is the completion rate percentage.
# THIS IS DONE

In [ ]:
# Group by Variation (Test or Control for client_id)
grouped_variation = df_4_csvs_inner.groupby("Variation")

In [ ]:
# Count unique client_ids per group
unique_clients_per_group = grouped_variation["client_id"].nunique()

In [ ]:
# Count confirmed users per group (client_id appearing at least once with "confirm")
confirmed_users = df_4_csvs_inner[df_4_csvs_inner["process_step"] == "confirm"].groupby("Variation")["client_id"].nunique()

In [ ]:
df_4_csvs_inner.columns

In [ ]:
# Calculate completion rate percentage
completion_rate = (confirmed_users / unique_clients_per_group) * 100

In [ ]:
unique_clients_per_group

In [ ]:
confirmed_users

In [ ]:
completion_rate

In [ ]:
# Conclusion of completion rate: The test group completed at a higher percentage (outperformed control group), so the test is successful.
# Thus, the new version of the website tested should be relesased / published.

In [ ]:
# Calculate KPI Time Spent on Each Step:
# 1. Change format of column into date time using pd
# 2. Use the diff function to calculate time between to consecutive rows??? steps???
# 3. Out of 5 time stamps, calculate 4 time durations (times between each steps and the consecutive step). This is per user.
# 4. Group time duration KPIs to achieve 4 time durations for each customer id group (Test vs Control), 8 time durations in total.
# 5. If we decide to include the errors in this count, we might need to calculate a 5th time duration. This is the duration between start and step 1 (the time stamp for start only appears if the user went back to the start).
# NOT DONE

In [ ]:
# 1. Change format of column into date time using pd
df_4_csvs_inner['date_time'] = pd.to_datetime(df_4_csvs_inner['date_time'], errors='coerce')

In [ ]:
# Calculate time difference for step 1: this is the value of date_time for step 2 minus date_time for step_1.

In [ ]:
from datetime import datetime

# Define two datetime values for start and end of duation
date_time_step_2 = datetime.strptime(df_4_csvs_inner.loc[step_2, "date_time"], "%Y-%m-%d %H:%M:%S")
date_time_step_1 = datetime.strptime(df_4_csvs_inner.loc[step_1, "date_time"], "%Y-%m-%d %H:%M:%S")
# I want to get the value for date_time from 

# Lets set up a specific client id
# I need to do that for the group of client_ids Test and Control. Create 1 column with the duration for each unique client_id.
# Then, counting only unique client_ids and their duration of step 2 minus step 1
# (not summing the durations if 1 different client_id had multiple visits),
# calculate the average. And group by Test vs. Control to get 1 average per Variation.

In [ ]:
# Example of creating a column from a list into a df.

# Adding a new column C using basic arithmetic operators
df_4_csvs_inner['duration_step_1'] = df_4_csvs_inner['date_time_step_2'] - df_4_csvs_inner['date_time_step_1']

In [ ]:
# Calculate the time duration for step 1
duration_step_1 = date_time_step_2 - date_time_step_1

print(duration_step_1)

In [ ]:
df_4_csvs_inner.head

In [ ]:
df_4_csvs_inner.isna().sum()

In [ ]:
# No null values in date_time, so conversi

In [ ]:
# Calculate error rates: the step before going to aprev osus tep has the error
# 1. Create a list with steps sequence
# My choice: If a visit has more than 0 errors, it is is an error visit, regardless of how many errors. I will also consider the customer id as having errors.
# My choice: I will not calculate the error rate per visit, just per customer id grouped into either Test or Control.
# My choice: Steps that will not be counted are the steps before going to a previous step, because they are steps with errors (causing the error).
# How to calculate: If the index of a later step comes before the previous step, it is an error. ???
# NOT DONE

In [ ]:


# two sample t test is not valid here, we neeed to compare binary values

In [ ]:
# Day 4:

In [ ]:
#  if this difference is statistically significant.
# Make sure to define the proper null and an alternative hypothesis to test it. Use the provided data to test these hypotheses, and determine if you can reject the null hypothesis in favor of the alternative. Make sure to consider the significance level, p-value, the statistical test prerequisites, and other relevant statistical measures in your analysis.

In [ ]:
# IMPORT FISHER_EXACT TEST
from scipy.stats import fisher_exact
# CREATE 2X2 MATRIX
tab = pd.crosstab(df.uspc_class, df.alice_in)
# CONDUCT FISHER_EXACT STATISTICAL TEST
odds_ratio, p_value = fisher_exact(tab)
# PRINT OUT RESULTS
if p_value < 0.05:
    print(f'p_value: {p_value}\nResult: There is a significant difference')
else:
    print(f'p_value: {p_value}\nResult: No significant difference')

In [ ]:
%matplotlib inline

crosstab_result = pd.crosstab(df_4_csvs_inner['Variation'], df_4_csvs_inner['confirmed'])

crosstab_result

In [23]:
# 1- Merge the dataset with the client_id and variation with the dataset of the steps
# 2- create a new column with either 0 or 1 for confirm
# 3- Group by the visit_id and the variation with summing the confirm per the visit
# 4- updating the dataset to replace the values of confirm with 1 if it is equal to 1 or more other than that 0

In [25]:
df_merged = pd.merge(df_merged_final_web_data, df_final_experiment_clients , on='client_id', how='inner')
df_merged.dropna(subset = ['Variation'], inplace = True) # dropping the row with nan value in variation

In [27]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
417650,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
417651,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
417652,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
417653,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
417654,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [29]:
df_merged['Confirm'] = df_merged['process_step'].apply(lambda x:1 if x == 'confirm' else 0)

In [31]:
df_merged.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,Confirm
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,0
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,Test,0
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,Test,0
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,Test,0
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,1
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,Test,0
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,Test,0
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,Test,0
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,Test,0
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,Control,1
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,Control,1
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,Control,1
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,Control,0
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,Control,0
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12,Control,0
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04,Control,0
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26,Control,0
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26,Control,0
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25,Control,0
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25,Control,0
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,Test,1
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09,Test,0
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01,Test,0
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46,Test,0
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42,Test,0
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28,Control,0
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13,Control,0
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45,Test,0
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16,Test,0
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07,Test,0
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05,Test,0
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58,Test,0
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51,Test,0
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44,Test,1
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03,Test,0
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22,Test,0
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14,Test,0
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02,Test,0
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39,Control,1
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03,Control,0
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55,Control,0
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32,Control,0
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:28:44,Control,0
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,2017-04-04 17:28:35,Control,0
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,2017-04-04 17:28:18,Control,0
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34,Test,1
50,5887227,448202785_26003228044,458489157_53226123692_778999,step_3,2017-04-05 14:50:41,Test,0
51,5887227,448202785_26003228044,458489157_53226123692_778999,step_2,2017-04-05 14:49:03,Test,0
52,5887227,448202785_26003228044,458489157_53226123692_778999,step_1,2017-04-05 14:47:36,Test,0
53,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:46:57,Test,0
54,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:43,Test,0
55,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:14,Test,0
56,2105948,111894218_79248359000,284161492_75966778593_698992,confirm,2017-04-05 14:04:56,Control,1
57,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 14:00:00,Control,0
58,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:59:46,Control,0
59,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 13:58:32,Control,0

In [33]:
visits_confirm_df = pd.DataFrame(df_merged.groupby(['visit_id','Variation'])['Confirm'].sum().reset_index())
visits_confirm_df['Confirm'] = visits_confirm_df['Confirm'].apply(lambda x:1 if x >= 1 else 0)

In [35]:
visits_confirm_df['Confirm'].value_counts()

Confirm
1    37777
0    31548
Name: count, dtype: int64

In [37]:
visits_confirm_df

                           visit_id Variation  Confirm
0      100012776_37918976071_457913      Test        1
1       100019538_17884295066_43909      Test        1
2      100022086_87870757897_149620      Test        1
3      100030127_47967100085_936361   Control        0
4      100037962_47432393712_705583   Control        0
...                             ...       ...      ...
69320  999971096_28827267783_236076      Test        1
69321  999976049_95772503197_182554      Test        1
69322  999984454_18731538378_781808      Test        1
69323  999985675_64610694964_443659   Control        1
69324  999988789_76411676596_272843      Test        0

[69325 rows x 3 columns]

In [39]:
visits_confirm_df[visits_confirm_df['Variation'] == 'Test']['Confirm']

0        1
1        1
2        1
11       1
13       1
        ..
69319    0
69320    1
69321    1
69322    1
69324    0
Name: Confirm, Length: 37136, dtype: int64

In [41]:
visits_confirm_df[visits_confirm_df['Variation'] == 'Control']['Confirm']

3        0
4        0
5        0
6        1
7        0
        ..
69309    1
69310    0
69314    0
69316    0
69323    1
Name: Confirm, Length: 32189, dtype: int64

In [ ]:
# AB HIER IST ALLES NEU VOM 15.05.2025.

In [43]:
# Group by Variation (Test or Control for visit_id)
grouped_variation = visits_confirm_df.groupby("Variation")

In [45]:
print(grouped_variation)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000019094A14F20>

In [47]:
confirmed_users = visits_confirm_df[visits_confirm_df["Confirm"] == "1"].groupby("Variation")["visit_id"].nunique()

In [49]:
confirmed_users

Series([], Name: visit_id, dtype: int64)

In [ ]:
# Calculate completion rate percentage
completion_rate = (confirmed_users / unique_clients_per_group) * 100


completion_rate = (confirmed_users * 100) / unique_clients_per_group

In [53]:
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])

Completion Rate (Control): 49.85%
Completion Rate (Test): 58.52%
Non-Completion Rate (Control): 50.15%
Non-Completion Rate (Test): 41.48%

In [ ]:
# Count of completed (Confirm == 1) for each group
completed_control = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Control") & (visits_confirm_df["Confirm"] == 1)])
completed_test = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Test") & (visits_confirm_df["Confirm"] == 1)])

In [ ]:
# Calculate percentages
completion_rate_control = (completed_control / total_control) * 100 if total_control > 0 else 0
completion_rate_test = (completed_test / total_test) * 100 if total_test > 0 else 0

In [106]:
non_completion_rate_control = 100 - completion_rate_control
non_completion_rate_test = 100 - completion_rate_test

completion_rate_control

49.84932740998478

In [108]:
completion_rate_test

58.51734166307626

In [110]:
non_completion_rate_control

50.15067259001522

In [120]:
non_completion_rate_test

41.48265833692374

In [55]:
total_control

32189

In [57]:
total_test

37136

In [59]:
completed_control

16046

In [61]:
completed_test

21731

In [126]:
from statsmodels.stats.proportion import proportions_ztest

# Count of successes (Confirm == 1) for each group
completed_test = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Test"]["Confirm"] == 1)
completed_control = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Control"]["Confirm"] == 1)

# Total number of observations in each group
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])

# Conduct two-proportion z-test
count = np.array([completed_test, completed_control])
nobs = np.array([total_test, total_control])

z_stat, p_value = proportions_ztest(count, nobs, alternative = "larger")
### INTRODUCE HERE A NEW PARAMETER THRESHOLD 5 % ##### 
# NOT DONE ######

# Display results
print(f"Z-statistic: {z_stat:.2f}")
print(f"P-value: {p_value}")

# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The completion rate is significantly different between Test and Control.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rate between Test and Control.")

Z-statistic: 22.86
P-value: 6.247505366322125e-116
Reject the null hypothesis: The completion rate is significantly different between Test and Control.

In [93]:
# Null Hypothesis (H₀): There is no significant difference in the completion rates between the Test group (new UI design) and the Control group (old UI design).
# Alternative Hypothesis (H₁): There is a significant difference in the completion rates between the Test and Control groups.

In [ ]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

# Define cost-effectiveness threshold
threshold = 5.0  # Minimum required increase in completion rate for the redesign to be justified

# Count of successes (Confirm == 1) for each group
completed_test = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Test"]["Confirm"] == 1)
completed_control = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Control"]["Confirm"] == 1)

# Total number of observations in each group
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])

# Calculate completion rates
completion_rate_test = (completed_test / total_test) * 100
completion_rate_control = (completed_control / total_control) * 100

# Calculate observed increase in completion rate
completion_rate_increase = completion_rate_test - completion_rate_control

# Conduct one-tailed proportion z-test to check if Test completion rate is significantly greater
count = np.array([completed_test, completed_control])
nobs = np.array([total_test, total_control])

z_stat, p_value = proportions_ztest(count, nobs, alternative="larger")

# Display results
print(f"Completion Rate (Control): {completion_rate_control:.2f}%")
print(f"Completion Rate (Test): {completion_rate_test:.2f}%")
print(f"Observed Completion Rate Increase: {completion_rate_increase:.2f}%")
print(f"Z-statistic: {z_stat:.2f}")
print(f"P-value: {p_value:.4f}")

# Conclusion based on statistical significance AND cost-effectiveness threshold
if completion_rate_increase >= threshold:
    print(f"The new design meets the cost-effectiveness threshold! Completion rate increased by {completion_rate_increase:.2f}%, which is above the required {threshold}%.")
else:
    print(f"The new design does NOT meet the cost-effectiveness threshold. Completion rate increased by {completion_rate_increase:.2f}%, but it falls short of the required {threshold}%.")

In [65]:
z_stat, p_value

(22.85684118615931, 1.249501073264425e-115)

In [79]:
# Conclusion: Since the p-value is nearly 0, we reject the null hypothesis 
# and confirm that the new design (Test group) has a statistically significant higher completion rate compared to the old design (Control group).
# This means the redesign is highly effective in improving completion rates.

In [130]:
# Cost-effectiveness threshold
threshold = 5.0

# Determine if the new design meets the threshold
if completion_rate_increase >= threshold:
    print(f"The new design is cost-effective! Completion rate increase: {completion_rate_increase:.2f}% (Threshold: {threshold}%)")
else:
    print(f"The new design is NOT cost-effective. Completion rate increase: {completion_rate_increase:.2f}% (Threshold: {threshold}%)")

The new design is cost-effective! Completion rate increase: 8.67% (Threshold: 5.0%)

In [91]:
# The completion rate increase is 58.52 - 49.85 = 8.67%
# But, how much bigger is test than control? = 58.52 (Test) is 17.39 % higher than 49.85 (Control).

In [96]:
# Sort data by client_id, visit_id, and date_time
df_merged.sort_values(by=["client_id", "visit_id", "date_time"], inplace=True)

# Identify errors: A step is an error if it occurs before its preceding step
df_merged["previous_step"] = df_merged.groupby(["client_id", "visit_id"])["process_step"].shift(1)
df_merged["error"] = df_merged["previous_step"] > df_merged["process_step"]  # Error if step order is reversed

# Identify error visits (if any error exists in a visit)
df_merged["error_visit"] = df_merged.groupby(["client_id", "visit_id"])["error"].transform(lambda x: x.any())

# Identify error customers (if any of their visits had an error)
df_merged["error_customer"] = df_merged.groupby("client_id")["error_visit"].transform(lambda x: x.any())

# Calculate error rate per customer ID for Test and Control groups
error_rate = df_merged.groupby("Variation")["error_customer"].mean() * 100

# Display results
print(f"Error Rate (Control): {error_rate.get('Control', 0):.2f}%")
print(f"Error Rate (Test): {error_rate.get('Test', 0):.2f}%")

Error Rate (Control): 88.11%
Error Rate (Test): 92.05%

In [132]:
# We used the function shift. In our code, .shift(1) moves the values in "process_step" down one row.
# If a previous step appears later than the current step, it means the user has gone backward unexpectedly, indicating an error.
# We created 4 columns
# New column 1: "previous_step". It is the process step right before the current step within the same visit. We use it to detect any backward movements and flag them as errors.
# New column 2: "error". It marks whether a step appears before its previous step, indicating an unexpected backward movement.
# New column 3: "error_visit". It flags visits where at least one error occurred, meaning the user faced issues within that visit.
# New column 4: "error_customer". It identifies customers who experienced errors in any of their visits, helping measure overall user friction.

In [102]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation,Confirm,previous_step,error,error_visit,error_customer
70803,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,0,NaN,False,True,True
70802,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,0,start,False,True,True
70801,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,0,step_1,False,True,True
70800,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,0,step_2,False,True,True
70799,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,1,step_3,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
372489,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,Test,1,step_3,True,True,True
105350,9999729,604429154_69247391147,99583652_41711450505_426179,start,2017-04-05 13:40:49,Test,0,NaN,False,False,True
105349,9999729,604429154_69247391147,99583652_41711450505_426179,step_1,2017-04-05 13:41:04,Test,0,start,False,False,True
341321,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,0,NaN,False,False,False
341320,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,0,start,False,False,False