In [1]:
# Start running cells from here.

In [2]:
# File A: df_final_experiment_clients.txt. Columns: client_id,Variation
# File B: df_final_web_data_pt_1.          Columns: client_id,visitor_id,visit_id,process_step,date_time
# File C: df_final_web_data_pt_2.          Columns: client_id,visitor_id,visit_id,process_step,date_tim
# File D: df_final_demo                    Columns: client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth

In [3]:
# Logic of the merging:
# DONE 1. Merge B and C because they have the same column names and their values look similar. Use CONCAT because the client_id doesn't have to be the same values.
# I only need the data from the client_ids that participated in the experiment. So, out of the client profile in df_final_demo, I only need the client_ids that exist also in df_final_experiment_clients.txt.
# In order to do so, perform a left join, where left is df_final_experiment_clients.txt (all of its client_id rows will be kept) and right is df_final_demo.

In [4]:
import pandas as pd

df_final_web_data_pt_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt')

In [5]:
df_final_web_data_pt_1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [6]:
df_final_web_data_pt_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt')

In [7]:
df_final_web_data_pt_2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [8]:
df_merged_final_web_data = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], axis=0)

In [9]:
df_merged_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [10]:
# They have been merged successfully, number of rows is the sum of both: 755405.

In [11]:
df_final_experiment_clients = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt')

In [12]:
df_final_experiment_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [13]:
df_final_demo = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt')

In [14]:
df_final_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [ ]:
# 1- Merge the dataset with the client_id and variation with the dataset of the steps
# 2- create a new column with either 0 or 1 for confirm
# 3- Group by the visit_id and the variation with summing the confirm per the visit
# 4- updating the dataset to replace the values of confirm with 1 if it is equal to 1 or more other than that 0

In [1]:
df_merged = pd.merge(df_merged_final_web_data, df_final_experiment_clients , on='client_id', how='inner')

In [1]:
# This is the merge we don't want, Ignore it. The merge we want is called df_merged.
merged_left_final_experiment_and_final_demo = pd.merge(df_final_experiment_clients, df_final_demo, on='client_id', how='left')

In [71]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
417650,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
417651,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
417652,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
417653,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
417654,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [69]:
# dropping the row with nan value in variation
df_merged.dropna(subset = ['Variation'], inplace = True)

In [83]:
df_merged['Confirm'] = df_merged['process_step'].apply(lambda x:1 if x == 'confirm' else 0)

In [85]:
df_merged.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_diff,time_diff_sec,Confirm
106863,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,0 days 00:00:52,52,1
106862,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaT,<NA>,1
236564,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,0 days 00:00:16,16,0
236563,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,0 days 00:00:09,9,0
236562,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,0 days 00:00:14,14,0
236561,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,0 days 00:00:06,6,0
236560,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,0 days 00:00:04,4,0
236559,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,0 days 00:00:14,14,0
236558,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,0 days 00:00:05,5,0
236557,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,0 days 00:00:04,4,0
236556,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,0 days 00:01:53,113,0
236555,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,0 days 00:00:57,57,0
236554,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaT,<NA>,1
340115,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,0 days 00:00:22,22,0
340114,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,0 days 00:00:45,45,0
340113,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,0 days 00:00:53,53,0
340112,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,0 days 00:01:00,60,0
340111,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaT,<NA>,1
235412,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaT,<NA>,0
27093,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,0 days 00:01:25,85,0
27092,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,0 days 00:00:39,39,0
27091,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,0 days 00:00:08,8,0
27090,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaT,<NA>,0
1594,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,0 days 00:00:30,30,0
1593,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,0 days 00:01:10,70,0
1592,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,0 days 00:01:04,64,0
1591,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,0 days 00:00:27,27,0
1590,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,0 days 00:00:37,37,0
1589,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,0 days 00:00:26,26,0
1588,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaT,<NA>,0
238521,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,0 days 00:00:10,10,0
238520,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,0 days 00:00:10,10,0
238519,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,0 days 00:01:24,84,0
238518,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,0 days 00:04:09,249,0
238517,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,0 days 00:00:01,1,0
238515,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,0 days 00:00:00,0,1
238516,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaT,<NA>,0
206491,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaT,<NA>,0
408207,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,0 days 00:02:47,167,0
408206,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,0 days 00:00:46,46,0
408205,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,0 days 00:03:01,181,0
408204,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,0 days 00:05:27,327,0
408203,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaT,<NA>,1
344728,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,0 days 00:00:13,13,0
344727,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaT,<NA>,0
119367,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,0 days 00:00:13,13,0
119366,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaT,<NA>,0
55282,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,0 days 00:00:11,11,0
55281,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,0 days 00:00:08,8,0
55280,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,0 days 00:00:48,48,0
55279,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,0 days 00:00:28,28,0
55278,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaT,<NA>,1
58654,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,0 days 00:00:20,20,0
58653,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,0 days 00:05:29,329,0
58652,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,0 days 00:00:14,14,0
58651,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaT,<NA>,0
16856,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,0 days 00:00:36,36,0
16855,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,0 days 00:03:00,180,0
16854,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,0 days 00:02:33,153,0
16853,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,0 days 00:00:38,38,0

In [18]:
# Stop running cells here, the data cleaning starts here.

In [20]:
# Data cleaning
# Check for null values in each column
df_merged.isna().any()

client_id           False
Variation            True
clnt_tenure_yr       True
clnt_tenure_mnth     True
clnt_age             True
gendr                True
num_accts            True
bal                  True
calls_6_mnth         True
logons_6_mnth        True
dtype: bool

In [21]:
# Count the number of null values in each column
df_merged.isna().sum()

client_id               0
Variation           20109
clnt_tenure_yr         14
clnt_tenure_mnth       14
clnt_age               15
gendr                  14
num_accts              14
bal                    14
calls_6_mnth           14
logons_6_mnth          14
dtype: int64

In [22]:
# Out of 70609 rows (client_ids), 20109 have Nan for "Variation". They didn't participate in the experiment. We will drop these rows.

In [23]:
df_merged.dropna(subset=['Variation'], inplace=True)

In [24]:
df_merged = df_merged.dropna(subset=['Variation'])

In [53]:
df_merged.isna().sum()

client_id           0
Variation           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [27]:
# Check if data types for columns are correct. There seems to be no problem here.

In [28]:
df_merged.dtypes

client_id             int64
Variation            object
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [29]:
# Find out how many unique client_ids there are.
df_merged = df_merged["client_id"].nunique()

df_merged

50500

In [31]:
# Clean the "client_id" column by dropping 14 rows in the df "df_final_demo" who have only NaN values in all columns except for client_id, including "clnt_age".
# And drop also the client_id 4666211, because this person has their data filled from the profile, except for their age (it has a NaN value for "clnt_age".
# We will create a function called "clean_clnt_age" to dropp any row with a NaN value for the column "clnt_age" and apply it to the df "df_final_demo".
# 15 rows dropped. THIS IS DONE.

In [7]:
def clean_clnt_age(df):
    df_cleaned = df_cleaned[df_cleaned["clnt_age"].notna()]
    return df_cleaned

In [9]:
# Apply function
df_merged = clean_clnt_age(df_merged)

df_merged.shape[0]

NameError: name 'df_final_demo' is not defined

In [55]:
df_merged = df_merged.dropna(subset=['clnt_age'], inplace=True)

In [57]:
df_merged.isna().sum()

AttributeError: 'NoneType' object has no attribute 'isna'

In [ ]:
# Now, there are no NaN values in any of the columns.

In [ ]:
# Clean the "bal" column
# In the "bal" column, there are a lot of numerical values which have the character string "9999999900" at the end. 
# They are wrong values for balance, with more characters than necessary. # Example: 3.287.742.999.999.990. 15.000+ out of 70.000+ rows have 999999900 at the end of the number.
# We will clean any rows containing "9999999900" at the end of their value for "bal" with a function.

In [3]:
def clean_balance(x):
    if type(x) == str and x.endswith("9999999900"):
        return x[:-10]
    return x

In [5]:
# Apply function to clean the "bal" column
df_merged["bal"] = df_merged["bal"].apply(clean_balance)

NameError: name 'df' is not defined

In [ ]:
# Create visualization to answer the following demographic question. Who are the primary clients using this online process?
# THIS IS DONE.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Sort gender values alphabetically
df_final_demo["gendr"] = df_final_demo["gendr"].sort_values()

# Set visualization style
sns.set_style("whitegrid")

# Create histogram
plt.figure(figsize=(8, 5))
sns.histplot(df["gendr"], discrete=True, color="purple")
plt.title("Gender Distribution of Clients")
plt.xlabel("Gender")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# Create visualization for age. Are the primary clients younger or older, new or long-standing?
# THIS IS DONE.

In [13]:
# Sort age data explicitly from low to high
df_final_demo = df_final_demo.sort_values(by="clnt_age")

# Set visualization style
sns.set_style("whitegrid")

plt.figure(figsize=(8, 5))
sns.histplot(df["clnt_age"], bins=5, kde=True, color="skyblue")
plt.title("Age Distribution of Clients")
plt.xlabel("Client Age")
plt.ylabel("Frequency")
plt.show()

NameError: name 'df' is not defined

In [ ]:
# Create visualization for tenure. Are the primary clients new or long-standing?
# THIS IS DONE.

In [15]:
# Sort tenure data explicitly from low to high
df_final_demo = df_final_demo.sort_values(by="clnt_tenure_yr")

# Set visualization style
sns.set_style("whitegrid")

# Create histogram
plt.figure(figsize=(8, 5))
sns.histplot(df["clnt_tenure_yr"], bins=6, kde=True, color="salmon")
plt.title("Client Tenure Distribution in Years")
plt.xlabel("Years of Tenure")
plt.ylabel("Frequency")
plt.show()

NameError: name 'df_final_demo' is not defined

In [ ]:
# Carry out a client behaviour analysis to answer any additional relevant questions. OPTIONAL
# NOT DONE

In [87]:
# Day 3. KPIs / Performance Metrics. Success Indicators. Completion Rate
visits_confirm_df = pd.DataFrame(df_merged.groupby(['visit_id','Variation'])['Confirm'].sum().reset_index())
visits_confirm_df['Confirm'] = visits_confirm_df['Confirm'].apply(lambda x:1 if x >= 1 else 0)

In [89]:
visits_confirm_df['Confirm'].value_counts()

Confirm
1    37777
0    31548
Name: count, dtype: int64

In [ ]:
confirmed_users = visits_confirm_df['Confirm'].value_counts()

In [91]:
visits_confirm_df

                           visit_id Variation  Confirm
0      100012776_37918976071_457913      Test        1
1       100019538_17884295066_43909      Test        1
2      100022086_87870757897_149620      Test        1
3      100030127_47967100085_936361   Control        0
4      100037962_47432393712_705583   Control        0
...                             ...       ...      ...
69320  999971096_28827267783_236076      Test        1
69321  999976049_95772503197_182554      Test        1
69322  999984454_18731538378_781808      Test        1
69323  999985675_64610694964_443659   Control        1
69324  999988789_76411676596_272843      Test        0

[69325 rows x 3 columns]

In [ ]:
confirmed_users

In [ ]:
# Anzahl eindeutiger visit_id je Variation
unique_visitors_by_variation = visits_confirm_df.groupby(['Variation','Confirm'])['visit_id'].nunique()

print(unique_visitors_by_variation)

In [ ]:
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])

total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])
# Count of completed (Confirm == 1) for each group

In [93]:
df_merged_visits_confirm_and_df_merged = pd.merge(visits_confirm_df, df_merged, on='visit_id', how='inner')

In [ ]:
visits_confirm_df[visits_confirm_df['Variation'] == 'Test']['Confirm']

In [ ]:
# Group by Variation (Test or Control for visit_id)
grouped_variation = visits_confirm_df.groupby("Variation")

In [ ]:
completed_control = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Control") & (visits_confirm_df["Confirm"] == 1)])
completed_test = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Test") & (visits_confirm_df["Confirm"] == 1)])

In [ ]:
# Calculate percentages
completion_rate_control = (completed_control / total_control) * 100 if total_control > 0 else 0

completion_rate_test = (completed_test / total_test) * 100 if total_test > 0 else 0

non_completion_rate_control = 100 - completion_rate_control

non_completion_rate_test = 100 - completion_rate_test

In [ ]:
# Display completion rates
print(f"Completion Rate (Control): {completion_rate_control:.2f}%")
print(f"Completion Rate (Test): {completion_rate_test:.2f}%")
print(f"Non-Completion Rate (Control): {non_completion_rate_control:.2f}%")
print(f"Non-Completion Rate (Test): {non_completion_rate_test:.2f}%")

In [ ]:
# HIER BRAUCHEN WIR DEN NEUEN CODE FÜR TIME DURATION FÜR JEDEN SCHRITT.
# Day 3. KPIs / Performance Metrics. Success Indicators. Time Duration for Each Step

In [ ]:
# Day 3. KPIs / Performance Metrics. Success Indicators. Error Rate
# Calculate error rates: the step before going to aprev osus tep has the error
# 1. Create a list with steps sequence
# My choice: If a visit has more than 0 errors, it is is an error visit, regardless of how many errors. I will also consider the customer id as having errors.
# My choice: I will not calculate the error rate per visit, just per customer id grouped into either Test or Control.
# My choice: Steps that will not be counted are the steps before going to a previous step, because they are steps with errors (causing the error).
# How to calculate: If the index of a later step comes before the previous step, it is an error. ???
# NOT DONE

In [ ]:
# Sort data by client_id, visit_id, and date_time
df_merged.sort_values(by=["client_id", "visit_id", "date_time"], inplace=True)

# Identify errors: A step is an error if it occurs before its preceding step
df_merged["previous_step"] = df_merged.groupby(["client_id", "visit_id"])["process_step"].shift(1)
df_merged["error"] = df_merged["previous_step"] > df_merged["process_step"]  # Error if step order is reversed

# Identify error visits (if any error exists in a visit)
df_merged["error_visit"] = df_merged.groupby(["client_id", "visit_id"])["error"].transform(lambda x: x.any())

# Identify error customers (if any of their visits had an error)
df_merged["error_customer"] = df_merged.groupby("client_id")["error_visit"].transform(lambda x: x.any())

# Calculate error rate per customer ID for Test and Control groups
error_rate = df_merged.groupby("Variation")["error_customer"].mean() * 100

# Display results
print(f"Error Rate (Control): {error_rate.get('Control', 0):.2f}%")
print(f"Error Rate (Test): {error_rate.get('Test', 0):.2f}%")

In [ ]:
# We used the function shift. In our code, .shift(1) moves the values in "process_step" down one row.
# If a previous step appears later than the current step, it means the user has gone backward unexpectedly, indicating an error.
# We created 4 columns
# New column 1: "previous_step". It is the process step right before the current step within the same visit. We use it to detect any backward movements and flag them as errors.
# New column 2: "error". It marks whether a step appears before its previous step, indicating an unexpected backward movement.
# New column 3: "error_visit". It flags visits where at least one error occurred, meaning the user faced issues within that visit.
# New column 4: "error_customer". It identifies customers who experienced errors in any of their visits, helping measure overall user friction.

In [ ]:
df_merged

In [16]:
# This is the merge we don't want, Ignore it. The merge we want is called df_merged.
merged_left_final_experiment_and_final_demo

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,8320017,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
2,4033851,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
3,1982004,Test,6.0,80.0,44.5,U,2.0,30231.76,1.0,4.0
4,9294070,Control,5.0,70.0,29.0,U,2.0,34254.54,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
70604,2443347,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
70605,8788427,NaN,10.0,121.0,59.5,M,2.0,203149.13,3.0,3.0
70606,266828,NaN,14.0,172.0,60.5,M,2.0,1135068.68,7.0,7.0
70607,1266421,NaN,13.0,164.0,33.0,M,3.0,27701.79,2.0,3.0
70608,9895983,NaN,10.0,121.0,49.0,M,2.0,97748.22,2.0,2.0

In [51]:
merged_client_profile = merged_left_final_experiment_and_final_demo

In [61]:
merged_client_profile

In [ ]:
import matplotlib.pyplot as plt
plt.show()

In [ ]:
# Export to CSV merged_client_profile
merged_client_profile.to_csv("merged_client_profile.csv", index=False, encoding="utf-8")

In [ ]:
# Merge merged_client_profile with df_merged_final_web_data with an inner join.
# I did an outer join, and there were no unmatched values left or right. That means the number of unique values of client_id is the same,
# regardless of join type. So I have peformed an inner join below (and deleted the previous outher join).
# THIS IS DONE

In [ ]:
df_4_csvs_inner = pd.merge(merged_left_final_experiment_and_final_demo, df_merged_final_web_data , on='client_id', how='inner')

In [ ]:
df_4_csvs_inner

In [ ]:
df_4_csvs_inner.isna().sum()

In [ ]:
# Find out what this 114 clients without an age are. If it makes sense, drop these rows.
# NOT DONE

In [ ]:
# Find out how many unique client_ids there are.
unique_client_count = df_4_csvs_inner["client_id"].nunique()

unique_client_count

In [ ]:
# Export to CSV df_4_csvs
df_4_csvs_inner.to_csv("df_4_csvs.csv", index=False, encoding="utf-8")

In [ ]:
# Calculate KPI completion rate:
# 1. Group 2 groups by the values of the column "Variation": 1 percentage number of completion rate for client_id s with the value "Test" vs.
# a different percentage number of completion rate for client_id s with the value "Control".
# 2. Calculate the count of unique client_ids per group, this is how many customers are part of the test vs. how many are not.
# 3. Calculate the number of confirms per group. This is the number of unique client_id (these are the unique values of the column "client_id") 
# for whom the value "confirm" within the colum "process_step" appears at least once, regardless of how many times "confirm" appears for 1 client_id.
# I choose to consider multiple confirms for 1 client_id as 1 single confirm. 1 confirm = 1 confirmed user
# 4. Per group, divide number of confirms by the number of client_id s. Then multiply by 100. This is the completion rate percentage.
# THIS IS DONE

In [ ]:
# Group by Variation (Test or Control for client_id)
grouped_variation = df_4_csvs_inner.groupby("Variation")

In [ ]:
# Count unique client_ids per group
unique_clients_per_group = grouped_variation["client_id"].nunique()

In [ ]:
# Count confirmed users per group (client_id appearing at least once with "confirm")
confirmed_users = df_4_csvs_inner[df_4_csvs_inner["process_step"] == "confirm"].groupby("Variation")["client_id"].nunique()

In [ ]:
df_4_csvs_inner.columns

In [ ]:
# Calculate completion rate percentage
completion_rate = (confirmed_users / unique_clients_per_group) * 100

In [ ]:
unique_clients_per_group

In [ ]:
confirmed_users

In [ ]:
completion_rate

In [ ]:
# Conclusion of completion rate: The test group completed at a higher percentage (outperformed control group), so the test is successful.
# Thus, the new version of the website tested should be relesased / published.

In [ ]:
# Calculate KPI Time Spent on Each Step:
# 1. Change format of column into date time using pd
# 2. Use the diff function to calculate time between to consecutive rows??? steps???
# 3. Out of 5 time stamps, calculate 4 time durations (times between each steps and the consecutive step). This is per user.
# 4. Group time duration KPIs to achieve 4 time durations for each customer id group (Test vs Control), 8 time durations in total.
# 5. If we decide to include the errors in this count, we might need to calculate a 5th time duration. This is the duration between start and step 1 (the time stamp for start only appears if the user went back to the start).
# NOT DONE

In [ ]:
# 1. Change format of column into date time using pd
df_4_csvs_inner['date_time'] = pd.to_datetime(df_4_csvs_inner['date_time'], errors='coerce')

In [77]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_diff,time_diff_sec
106863,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,0 days 00:00:52,52
106862,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaT,<NA>
236564,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,0 days 00:00:16,16
236563,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,0 days 00:00:09,9
236562,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,0 days 00:00:14,14
...,...,...,...,...,...,...,...,...
95660,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:49:11,Test,0 days 00:00:11,11
95659,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:49:22,Test,0 days 00:00:54,54
95658,6627522,730634087_44272418812,999988789_76411676596_272843,step_2,2017-04-21 23:50:16,Test,0 days 00:00:44,44
95657,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:51:00,Test,0 days 00:00:09,9
95656,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:51:09,Test,NaT,<NA>

In [ ]:
from datetime import datetime

# Define two datetime values for start and end of duation
date_time_step_2 = datetime.strptime(df_4_csvs_inner.loc[step_2, "date_time"], "%Y-%m-%d %H:%M:%S")
date_time_step_1 = datetime.strptime(df_4_csvs_inner.loc[step_1, "date_time"], "%Y-%m-%d %H:%M:%S")
# I want to get the value for date_time from 

# Lets set up a specific client id
# I need to do that for the group of client_ids Test and Control. Create 1 column with the duration for each unique client_id.
# Then, counting only unique client_ids and their duration of step 2 minus step 1
# (not summing the durations if 1 different client_id had multiple visits),
# calculate the average. And group by Test vs. Control to get 1 average per Variation.

In [ ]:
# Example of creating a column from a list into a df.

# Adding a new column C using basic arithmetic operators
df_4_csvs_inner['duration_step_1'] = df_4_csvs_inner['date_time_step_2'] - df_4_csvs_inner['date_time_step_1']

In [ ]:
# Calculate the time duration for step 1
duration_step_1 = date_time_step_2 - date_time_step_1

print(duration_step_1)

In [ ]:
df_4_csvs_inner.head

In [ ]:
df_4_csvs_inner.isna().sum()

In [ ]:
# No null values in date_time, so conversi

In [ ]:


# two sample t test is not valid here, we neeed to compare binary values

In [ ]:
# Day 4:

In [ ]:
#  if this difference is statistically significant.
# Make sure to define the proper null and an alternative hypothesis to test it. Use the provided data to test these hypotheses, and determine if you can reject the null hypothesis in favor of the alternative. Make sure to consider the significance level, p-value, the statistical test prerequisites, and other relevant statistical measures in your analysis.

In [ ]:
# IMPORT FISHER_EXACT TEST
from scipy.stats import fisher_exact
# CREATE 2X2 MATRIX
tab = pd.crosstab(df.uspc_class, df.alice_in)
# CONDUCT FISHER_EXACT STATISTICAL TEST
odds_ratio, p_value = fisher_exact(tab)
# PRINT OUT RESULTS
if p_value < 0.05:
    print(f'p_value: {p_value}\nResult: There is a significant difference')
else:
    print(f'p_value: {p_value}\nResult: No significant difference')

In [ ]:
%matplotlib inline

crosstab_result = pd.crosstab(df_4_csvs_inner['Variation'], df_4_csvs_inner['confirmed'])

crosstab_result

In [ ]:
# Start again running cells here. Up until this cell, we have merged and cleaned the data. Now, we will work on KPIs and hypothesis testing.

In [95]:
df_merged_visits_confirm_and_df_merged
# THIS IS THE NEXT CELL TO MOVE.

,visit_id,Variation_x,Confirm_x,client_id,visitor_id,process_step,date_time,Variation_y,time_diff,time_diff_sec,Confirm_y
0,100012776_37918976071_457913,Test,1,3561384,451664975_1722933822,confirm,2017-04-26 13:22:17,Test,0 days 00:00:52,52,1
1,100012776_37918976071_457913,Test,1,3561384,451664975_1722933822,confirm,2017-04-26 13:23:09,Test,NaT,<NA>,1
2,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,start,2017-04-09 16:20:56,Test,0 days 00:00:16,16,0
3,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,step_1,2017-04-09 16:21:12,Test,0 days 00:00:09,9,0
4,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,step_2,2017-04-09 16:21:21,Test,0 days 00:00:14,14,0
...,...,...,...,...,...,...,...,...,...,...,...
322751,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,start,2017-04-21 23:49:11,Test,0 days 00:00:11,11,0
322752,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_1,2017-04-21 23:49:22,Test,0 days 00:00:54,54,0
322753,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_2,2017-04-21 23:50:16,Test,0 days 00:00:44,44,0
322754,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_1,2017-04-21 23:51:00,Test,0 days 00:00:09,9,0
322755,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,start,2017-04-21 23:51:09,Test,NaT,<NA>,0

In [99]:
# Calculate time difference for step 1: this is the value of date_time for step 2 minus date_time for step_1.

# Datum konvertieren
df_merged_visits_confirm_and_df_merged['date_time'] = pd.to_datetime(df_merged_visits_confirm_and_df_merged['date_time'])
# Sortieren nach Besuch und Zeit
df_merged_visits_confirm_and_df_merged = df_merged_visits_confirm_and_df_merged.sort_values(by=['visit_id', 'date_time'])
# Schritt-Differenz berechnen (zeit bis zum nächsten Schritt)
df_merged_visits_confirm_and_df_merged['time_diff'] = df_merged_visits_confirm_and_df_merged.groupby('visit_id')['date_time'].diff(-1).abs()
# Zeit in Sekunden konvertieren und runden
df_merged_visits_confirm_and_df_merged['time_diff_sec'] = df_merged_visits_confirm_and_df_merged['time_diff'].dt.total_seconds().round().astype('Int64')
# Schritt mit dem frühesten Timestamp pro Besuch auf 0 setzen
step_1 = df_merged_visits_confirm_and_df_merged.groupby('date_time')['process_step'].transform('min') == df_merged_visits_confirm_and_df_merged['date_time']
df_merged_visits_confirm_and_df_merged.loc[step_1, 'time_diff_sec'] = 0

In [101]:
df_merged_visits_confirm_and_df_merged

,visit_id,Variation_x,Confirm_x,client_id,visitor_id,process_step,date_time,Variation_y,time_diff,time_diff_sec,Confirm_y
0,100012776_37918976071_457913,Test,1,3561384,451664975_1722933822,confirm,2017-04-26 13:22:17,Test,0 days 00:00:52,52,1
1,100012776_37918976071_457913,Test,1,3561384,451664975_1722933822,confirm,2017-04-26 13:23:09,Test,NaT,<NA>,1
2,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,start,2017-04-09 16:20:56,Test,0 days 00:00:16,16,0
3,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,step_1,2017-04-09 16:21:12,Test,0 days 00:00:09,9,0
4,100019538_17884295066_43909,Test,1,7338123,612065484_94198474375,step_2,2017-04-09 16:21:21,Test,0 days 00:00:14,14,0
...,...,...,...,...,...,...,...,...,...,...,...
322751,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,start,2017-04-21 23:49:11,Test,0 days 00:00:11,11,0
322752,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_1,2017-04-21 23:49:22,Test,0 days 00:00:54,54,0
322753,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_2,2017-04-21 23:50:16,Test,0 days 00:00:44,44,0
322754,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,step_1,2017-04-21 23:51:00,Test,0 days 00:00:09,9,0
322755,999988789_76411676596_272843,Test,0,6627522,730634087_44272418812,start,2017-04-21 23:51:09,Test,NaT,<NA>,0

In [ ]:
# End of code copied from Sarah's file. From here onwards, we work on the KPI completion rate.

In [ ]:
visits_confirm_df[visits_confirm_df['Variation'] == 'Control']['Confirm']

In [ ]:
# AB HIER IST ALLES NEU VOM 15.05.2025.

In [ ]:
print(grouped_variation)

In [ ]:
confirmed_users = visits_confirm_df[visits_confirm_df["Confirm"] == "1"].groupby("Variation")["visit_id"].nunique()

In [79]:
confirmed_users

NameError: name 'confirmed_users' is not defined

In [ ]:
# Calculate completion rate percentage
completion_rate = (confirmed_users / unique_clients_per_group) * 100


completion_rate = (confirmed_users * 100) / unique_clients_per_group

In [ ]:
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])

In [ ]:
completed_test = visits_confirm_df[visits_confirm_df["Variation"] == "Test"].groupby("visit_id")["Confirm"].max().sum()
completed_control = visits_confirm_df[visits_confirm_df["Variation"] == "Control"].groupby("visit_id")["Confirm"].max().sum()

In [ ]:
# Count of completed (Confirm == 1) for each group
completed_control = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Control") & (visits_confirm_df["Confirm"] == 1)])
completed_test = len(visits_confirm_df[(visits_confirm_df["Variation"] == "Test") & (visits_confirm_df["Confirm"] == 1)])

In [ ]:
# Calculate percentages
completion_rate_control = (completed_control / total_control) * 100 if total_control > 0 else 0
completion_rate_test = (completed_test / total_test) * 100 if total_test > 0 else 0

In [ ]:
non_completion_rate_control = 100 - completion_rate_control
non_completion_rate_test = 100 - completion_rate_test

completion_rate_control

In [ ]:
completion_rate_test

In [ ]:
non_completion_rate_control

In [ ]:
non_completion_rate_test

In [ ]:
total_control

In [ ]:
total_test

In [ ]:
completed_control

In [ ]:
completed_test

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

# Count of successes (Confirm == 1) for each group
completed_test = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Test"]["Confirm"] == 1)
completed_control = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Control"]["Confirm"] == 1)

# Total number of observations in each group
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])

# Conduct two-proportion z-test
count = np.array([completed_test, completed_control])
nobs = np.array([total_test, total_control])

z_stat, p_value = proportions_ztest(count, nobs, alternative = "larger")
### INTRODUCE HERE A NEW PARAMETER THRESHOLD 5 % ##### 
# NOT DONE ######

# Display results
print(f"Z-statistic: {z_stat:.2f}")
print(f"P-value: {p_value}")

# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The completion rate is significantly different between Test and Control.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rate between Test and Control.")

In [ ]:
# Null Hypothesis (H₀): There is no significant difference in the completion rates between the Test group (new UI design) and the Control group (old UI design).
# Alternative Hypothesis (H₁): There is a significant difference in the completion rates between the Test and Control groups.

In [ ]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

# Define cost-effectiveness threshold
threshold = 5.0  # Minimum required increase in completion rate for the redesign to be justified

# Count of successes (Confirm == 1) for each group
completed_test = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Test"]["Confirm"] == 1)
completed_control = np.sum(visits_confirm_df[visits_confirm_df["Variation"] == "Control"]["Confirm"] == 1)

# Total number of observations in each group
total_test = len(visits_confirm_df[visits_confirm_df["Variation"] == "Test"])
total_control = len(visits_confirm_df[visits_confirm_df["Variation"] == "Control"])

# Calculate completion rates
completion_rate_test = (completed_test / total_test) * 100
completion_rate_control = (completed_control / total_control) * 100

# Calculate observed increase in completion rate
completion_rate_increase = completion_rate_test - completion_rate_control

# Conduct one-tailed proportion z-test to check if Test completion rate is significantly greater
count = np.array([completed_test, completed_control])
nobs = np.array([total_test, total_control])

z_stat, p_value = proportions_ztest(count, nobs, alternative="larger")

# Display results
print(f"Completion Rate (Control): {completion_rate_control:.2f}%")
print(f"Completion Rate (Test): {completion_rate_test:.2f}%")
print(f"Observed Completion Rate Increase: {completion_rate_increase:.2f}%")
print(f"Z-statistic: {z_stat:.2f}")
print(f"P-value: {p_value:.4f}")

# Conclusion based on statistical significance AND cost-effectiveness threshold
if completion_rate_increase >= threshold:
    print(f"The new design meets the cost-effectiveness threshold! Completion rate increased by {completion_rate_increase:.2f}%, which is above the required {threshold}%.")
else:
    print(f"The new design does NOT meet the cost-effectiveness threshold. Completion rate increased by {completion_rate_increase:.2f}%, but it falls short of the required {threshold}%.")

In [ ]:
z_stat, p_value

In [ ]:
# Conclusion: Since the p-value is nearly 0, we reject the null hypothesis 
# and confirm that the new design (Test group) has a statistically significant higher completion rate compared to the old design (Control group).
# This means the redesign is highly effective in improving completion rates.

In [ ]:
# Cost-effectiveness threshold
threshold = 5.0

# Determine if the new design meets the threshold
if completion_rate_increase >= threshold:
    print(f"The new design is cost-effective! Completion rate increase: {completion_rate_increase:.2f}% (Threshold: {threshold}%)")
else:
    print(f"The new design is NOT cost-effective. Completion rate increase: {completion_rate_increase:.2f}% (Threshold: {threshold}%)")

In [ ]:
# The completion rate increase is 58.52 - 49.85 = 8.67%
# But, how much bigger is test than control? = 58.52 (Test) is 17.39 % higher than 49.85 (Control).